<div class="container mt-5">
  <div class="row">
    <div class="col p-5">
      <div class="card p-4">
        <canvas id="myChart" width="400" height="400"></canvas>
      </div>
    </div>
    <div class="col p-5">
      <div class="card p-4">
        <canvas id="myChart2" width="400" height="400"></canvas>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col bg-light">1 of 3</div>
    <div class="col bg-light">2 of 3</div>
    <div class="col bg-light">3 of 3</div>
  </div>
</div>
