<div class="container mt-5" style="margin-top: 10%">
  <h1>Business Growth Summary</h1>
  <hr />
  <div class="row">
    <div class="col p-5">
      <div class="card p-4">
        <canvas id="myChart" width="400" height="400"></canvas>
      </div>
    </div>
    <div class="col p-5">
      <div class="card p-4">
        <canvas id="myChart2" width="400" height="400"></canvas>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top: 5%">
    <h1>Employee Table</h1>
    <hr />
    <table class="table">
      <thead class="bg-light">
        <tr>
          <!-- <th scope="col">#</th> -->
          <th scope="col">First Name</th>
          <th scope="col">Middle Initial</th>
          <th scope="col">Last Name</th>
          <th scope="col">Rank</th>
        </tr>
      </thead>
      <tbody
        *ngFor="
          let crew of crews | paginate: { itemsPerPage: 3, currentPage: p };
          index as i
        "
      >
        <tr>
          <!-- <th scope="row">{{ i }}</th> -->
          <td>{{ crew.fname_fld | titlecase }}</td>
          <td>{{ crew.mname_fld | titlecase }}</td>
          <td>{{ crew.lname_fld | titlecase }}</td>
          <td>{{ crew.rank_fld | titlecase }}</td>
        </tr>
      </tbody>
    </table>
    <div class="rounded text-muted p-2 bg-light mt-3">
      <pagination-controls
        class="mt-2"
        (pageChange)="p = $event"
      ></pagination-controls>
    </div>
  </div>
  <br />
</div>
