<form
  class="p-3"
  [formGroup]="sendfile"
  ngNativeValidate
  (submit)="submit($event)"
>
  <div class="container">
    <div class="row">
      <h3>Personal Information</h3>
      <hr />
      <div class="col-sm">
        <div class="form-group">
          <label for="inputAddress">Firstname</label>
          <input
            formControlName="fname"
            type="text"
            class="form-control mt-2"
            id="inputAddress"
            placeholder="Firstname"
          />
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group col-md-4">
          <label for="inputAddress">Middlename</label>
          <input
            formControlName="mname"
            type="text"
            class="form-control mt-2"
            id="inputAddress"
            placeholder="Middlename"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="inputAddress">Lastname</label>
          <input
            formControlName="lname"
            type="text"
            class="form-control mt-2"
            id="inputAddress"
            placeholder="Lastname"
          />
        </div>
      </div>
      <div class="col-sm"></div>
    </div>
    <br />
    <div class="row">
      <h3>Job Description</h3>
      <hr />
      <div class="col-sm">
        <div class="form-group">
          <label for="inputAddress">Rank</label><br />
          <select
            formControlName="rank"
            class="custom-select mt-2 w-100"
            style="color: gray; border-color: gray"
            id="inputGroupSelect01"
          >
            <option selected disabled>Choose...</option>
            <option value="Captain/Master">Captain/Master</option>
            <option value="Chief Mate (Chief Officer)">
              Chief Mate (Chief Officer)
            </option>
            <option value="Second Mate (Second Officer)">
              Second Mate (Second Officer)
            </option>
            <option value="Third Mate (Third Officer)">
              Third Mate (Third Officer)
            </option>
            <option value="Deck Cadet">Deck Cadet</option>
            <option value="Chief Engineer">Chief Engineer</option>
            <option value="Second Engineer">Second Engineer</option>
            <option value="Third Engineer">Third Engineer</option>
            <option value="Fourth Engineer">Fourth Engineer</option>
            <option value="Engine Cadet">Engine Cadet</option>
            <option value="Electrician">Electrician</option>
            <option value="Boatswain (Bosun)">Boatswain (Bosun)</option>
            <option value="Pumpman">Pumpman</option>
            <option value="Able-Bodied Seaman (AB)">
              Able-Bodied Seaman (AB)
            </option>
            <option value="Ordinary Seaman (OS)">Ordinary Seaman (OS)</option>
            <option value="Fitter">Fitter</option>
            <option value="Oiler">Oiler</option>
            <option value="Wiper (Motorman)">Wiper (Motorman)</option>
            <option value="Chief Cook">Chief Cook</option>
            <option value="Steward">Steward</option>
          </select>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group col-md-4">
          <label for="inputAddress">Contract File</label>
          <input
            type="file"
            (change)="onFileChange($event)"
            accept=".pdf"
            class="form-control mt-2"
            id="inputAddress"
            placeholder="Middlename"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <button
      type="submit"
      style="background-color: #548996; color: white; width: 100%"
      class="btn btn-lg btn-block mx-auto mt-5"
    >
      Add
    </button>
  </div>
</form>
