<form class="p-3" ngNativeValidate (submit)="submit($event)">
  <div class="container">
    <div class="row">
      <h3>Personal Information</h3>
      <hr />
      <div class="col-sm">
        <div class="form-group">
          <label for="inputAddress">Firstname</label>
          <input
            type="text"
            class="form-control mt-2"
            id="inputAddress"
            placeholder="Firstname"
          />
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group col-md-4">
          <label for="inputAddress">Middlename</label>
          <input
            type="text"
            class="form-control mt-2"
            id="inputAddress"
            placeholder="Middlename"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="inputAddress">Lastname</label>
          <input
            type="text"
            class="form-control mt-2"
            id="inputAddress"
            placeholder="Lastname"
          />
        </div>
      </div>
      <div class="col-sm"></div>
    </div>
    <br />
    <div class="row">
      <h3>Job Description</h3>
      <hr />
      <div class="col-sm">
        <div class="form-group">
          <label for="inputAddress">Rank</label><br />
          <select
            class="custom-select mt-2 w-100"
            style="color: gray; border-color: gray"
            id="inputGroupSelect01"
          >
            <option selected disabled>Choose...</option>
            <option value="1">Captain/Master</option>
            <option value="2">Chief Mate (Chief Officer)</option>
            <option value="3">Second Mate (Second Officer)</option>
            <option value="4">Third Mate (Third Officer)</option>
            <option value="5">Deck Cadet</option>
            <option value="6">Chief Engineer</option>
            <option value="7">Second Engineer</option>
            <option value="8">Third Engineer</option>
            <option value="9">Fourth Engineer</option>
            <option value="10">Engine Cadet</option>
            <option value="11">Electrician</option>
            <option value="12">Boatswain (Bosun)</option>
            <option value="13">Pumpman</option>
            <option value="14">Able-Bodied Seaman (AB)</option>
            <option value="15">Ordinary Seaman (OS)</option>
            <option value="16">Fitter</option>
            <option value="17">Oiler</option>
            <option value="18">Wiper (Motorman)</option>
            <option value="19">Chief Cook</option>
            <option value="20">Steward</option>
          </select>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group col-md-4">
          <label for="inputAddress">Contract File</label>
          <input
            type="file"
            (change)="onFileChange($event)"
            accept=".pdf"
            class="form-control mt-2"
            id="inputAddress"
            placeholder="Middlename"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <button
      type="submit"
      style="background-color: #548996; color: white; width: 100%"
      class="btn btn-lg btn-block mx-auto mt-5"
    >
      Add
    </button>
  </div>
</form>
